@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Space+Mono&display=swap');

.container {
	padding: 0 2em;
	background-color: #edf3ff;
}

.main {
	min-height: 100vh;
	padding: 4em 0;
	color: #282a81;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 12px;
	margin: 20px 0 20px 0;
	max-width: 800px;
}

.button {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: 2px 0;
	border: solid 2px transparent;
	border-radius: 0.4em;
	padding: 0.5em 1em;
	cursor: pointer;
	background-color: #feac9e;
	color: #2d0700;
	outline: solid transparent;
}

.button:hover,
.button:focus {
	border-color: currentColor;
	background-color: #2d0700;
	color: #feac9e;
	transition: ease-in-out;
	transition-duration: 200ms;
}

.button:active {
	transform: translateY(1px);
	filter: saturate(150%);
}

.title {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
	font-size: 3em;
	line-height: 1.15;
	margin: 15px 0 15px 0;
}

.title,
.description {
	text-align: center;
}

.description {
	font-family: 'Space Mono', monospace;
	color: #5f62ce;
	margin: 0 0 0.5em 0;
	line-height: 1.5;
	font-size: 1.5em;
}

.error {
	font-family: 'Space Mono', monospace;
	padding: 1em;
	text-align: center;
	color: #5f62ce;
}

.column {
	margin: 1em 0;
	gap: 0.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.link {
	margin-top: 1em;
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	color: #5f62ce;
}

.link:hover {
	text-decoration: underline;
}

.address {
	color: #5f62ce;
}

.customField {
	--input-border: #5f62ce;
	--input-focus-h: 238;
	--input-focus-s: 50%;
	--input-focus-l: 59%;
	display: flex;
	flex-direction: column;
}

.customField input::placeholder,
.customField input::-moz-placeholder,
.customField input:-ms-input-placeholder,
.customField textarea::placeholder,
.customField textarea::-moz-placeholder,
.customField textarea:-ms-input-placeholder {
	color: #5f62ce;
}

.customField input,
.customField textarea {
	font-size: 16px;
	font-size: minmax(16px, 1em);
	font-family: inherit;
	padding: 0.25em 0.5em;
	background-color: #edf3ff;
	border: 2px solid var(--input-border);
	border-radius: 4px;
	transition: 180ms box-shadow ease-in-out;
}
.customField input:focus,
.customField textarea:focus {
	border-color: #5f62ce;
	box-shadow: 0 0 0 2px hsla(238, 53%, 42%, 0.8);
	outline: 2px solid transparent;
}
.customField input:not(textarea) {
	line-height: 1;
	height: 2.25rem;
	width: 400px;
}
.customField input[type='file'] {
	font-size: 0.9em;
	padding-top: 0.35rem;
}
.customField textarea {
	width: 500px;
	height: 8.4rem;
	resize: none;
}
.customField input[readonly] {
	border-style: dotted;
	cursor: not-allowed;
	color: #5f62ce;
}
.customField input[disabled] {
	--input-border: #5f62ce;
	background-color: #edf3ff;
	cursor: not-allowed;
}
.customField label {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1;
	margin: 1rem 0 1rem 0;
}
